@page "/gallery"

<PageTitle>Gallery</PageTitle>

@inject IJSRuntime JsRuntime




<div class="grid-gallery">
    @foreach(int imgIndex in imgIndexes)
    {
        var imageId = imgIndex;
        <div class="grid-item">
            <a href="@($"https://ik.imagekit.io/valter/StefanPortfolio/Gallery/Images/tr:w-1920/GalleryImage%20({imageId}).jpg")" data-lightbox="gridImage">
                <img 
                    src="@($"https://ik.imagekit.io/valter/StefanPortfolio/Gallery/Images/tr:w-800/GalleryImage%20({imageId}).jpg")"

                     srcset="@($"https://ik.imagekit.io/valter/StefanPortfolio/Gallery/Images/tr:w-600/GalleryImage%20({imageId}).jpg") 400w,
                     @($"https://ik.imagekit.io/valter/StefanPortfolio/Gallery/Images/tr:w-800/GalleryImage%20({imageId}).jpg") 800w,
                     @($"https://ik.imagekit.io/valter/StefanPortfolio/Gallery/Images/tr:w-1920/GalleryImage%20({imageId}).jpg") 1200w"

                 loading="lazy" />
            </a>
        </div>
    }
</div>


@code {

   

    int[] imgIndexes = Enumerable.Range(1, 98).ToArray();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           
            await JsRuntime.InvokeVoidAsync("lightboxSettings");
           
        }
    }
}

